// Main discourse colors are configured in about.json
// Here we can define additional# colors

:root {
    --neutral-100: "#25253D",
    --neutral-80: "#515164",
    --neutral-60: "#7C7C8B",
    --neutral-40: "#A8A8B1",
    --neutral-20: "#D3D3D8",
    --neutral-10: "#E9E9EC",
    --neutral-5: "#F4F4F5",
    --radical-120: "#E51943",
    --radical-100: "#FF355E",
    --radical-60: "#FF869E",
    --radical-10: "#FFEBEF",
    --radical-5: "#FAF2F4",
    --viridian-120: "#06838C",
    --viridian-100: "#07A2AD",
    --viridian-60: "#6AC7CE",
    --viridian-10: "#E6F6F7",
    --complementary-100: "#F5BA58",
    --complementary-20: "#FBE3BC",
    --complementary-10: "#FEF8EE"
}