// HERO BANNER

.artifact-hero-right {
  background-image: url($artifact-hero-arch);
  background-size: 100% 100%;
  width: 296px;
  height: 601px;
  position: absolute;
  display: none;
  @include xl {
    display: block;
    top: -35%;
    right: -180px;
  }
  @include xxl {
    right: -35px;
  }
}

.artifact-hero-left {
  background-image: url($artifact-hero-circle);
  background-size: 100% 100%;
  width: 296px;
  height: 601px;
  position: absolute;
  display: none;
  @include xl {
    display: block;
    top: 10%;
    left: -100px;
  }
  @include xxl {
    left: -10px;
  }
}

.hero-banner {
  background: var(--neutral-5);
  display: flex;
  padding: 56px 32px;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
  @include lg {
    height: 300px;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 0px;
    padding-right: 0px;
    align-items: center;
    justify-content: center;
  }
}
