// The category cards

.homepage-category-boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 36px;
  align-items: center;
  @include lg {
    flex-direction: row;
    gap: 24px;
    align-items: baseline;
  }
}

.homepage-category-box {
  filter: drop-shadow(0px -8px 16px rgba(40, 40, 61, 0.05))
    drop-shadow(0px 16px 24px rgba(40, 40, 61, 0.05))
    drop-shadow(0px 4px 8px rgba(40, 40, 61, 0.05));
  backdrop-filter: blur(16px);
  transition: 0.3s;
  border-radius: 10px;
  padding: 40px;
  width: 250px;
  min-height: 80px;
}
