@import "colors";
@import "fonts";
@import "buttons";

html {
  font-family: "Fira Sans";
}

h1 {
  font-weight: 700;
  font-size: 56px;
  color: var(--neutral-100);
}

h1 span {
  color: var(--radical-100);
}

h4 {
  font-weight: 400;
  font-size: 18px;
  color: var(--neutral-80);
}

table {
  overflow: hidden;
  border-collapse: separate !important;
}

table th {
  color: var(--neutral-80);
}

th,
td {
  padding: 5px;
}
th {
  text-align: left;
  background-color: var(--neutral-10);
  color: #fff;
}
th:nth-child(1) {
  border-radius: 10px 0px 0px 0px;
}

th:nth-last-child(1) {
  border-radius: 0px 10px 0px 0px;
}

.alert.alert-info {
  background-color: var(--complementary-10);
  color: var(--primary);
  border-radius: 10px;
}

.nav-pills > li a.active {
  border-bottom: 5px solid var(--viridian100);
}
