@import "colors";
@import "fonts";
@import "buttons";

html {
  font-family: "Fira Sans";
}

.hero-banner {
  height: 300px;
  width: 100%;
  background: var(--neutral-10);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.hero-text {
  font-size: 8em;
  color: var(--secondary);
}

#main-outlet {
  padding-top: 0px; /*this value must be changed if the height of the header has been changed*/
}
