@import "colors";
@import "fonts";
@import "buttons";

html {
  font-family: "Fira Sans";
}

.hello-world-banner {
  height: 300px;
  width: 100vw;
  background: var(--radical-120);
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.hello-world {
  font-size: 8em;
  color: var(--secondary);
}
